%h2 Shops Listing
-if @shops.empty?
  %p No shops found... something is wrong i guess?!
-else
  %p We have #{@shops_count} shop(s)
  %div.shops
    -@shops.each do |shop|
      -@shop=shop
      =render :partial => "shop", :locals => {:shop => @shop}
    %div.pagination=will_paginate @shops
