// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
@import blueprint/modules/liquid.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography
+blueprint-liquid-grid
+blueprint-utilities
+blueprint-debug
+blueprint-interaction
+blueprint-form


html
  +attach_footer( 54px )

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col
  #container
    +container
  #header
    //+column(!blueprint_grid_columns)
    +column(24, true)
    :font-size 180%
    :padding-left 10px
    :padding-bottom 20px
    :padding-top 10px
    h1
      :text-align center

  #footer
    //+column(!blueprint_grid_columns)
    +column(24, true)
    :padding 5px
    :padding-top 40px
    :padding-bottom 10px
    p
      :text-align center
    //+last
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    //!sidebar_columns = floor(!blueprint_grid_columns / 3)
    //+column(!sidebar_columns)
    +column(4)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    //!content_columns = ceil(2 * !blueprint_grid_columns / 3)
    // true means it's the last column in the row
    //+column(!content_columns, true)
    +column(20, true)
  #form-box
    :background #F4F4EE none repeat scroll 0 0
    :padding 5px
    p
      :padding  0px
      :margin   0px