%h2 Brands Listing
-if @brands.empty?
  %p No brands found... something is wrong i guess?!
-else
  %p We have #{@brands.size} brands(s)
  %div.brands
    -@brands.each do |brand|
      -@brand=brand
      =render :partial => 'brand', :locals => {:brand => @brand}