%h2 Categories Listing
-if @categories.empty?
  %p No categories found... something is wrong i guess?!
-else
  %p We have #{@categories.size} shop(s)
  %div.categories
    -@categories.each do |category|
      -@category=category
      =render :partial => "category", :locals => {:category => @category}