- semantic_form_for @product do |form|
    = form.inputs
    = form.buttons
-#-form_for :prodcut do |form|
-#  %p=error_messages_for :product
-#  %p
-#    =form.label :model, 'Model'
-#    %br
-#    =form.text_field :model
-#  %p
-#    =form.label :price, 'Price'
-#    =form.text_field :price
-#  %p
-#    =form.label :description, 'Description'
-#    =form.text_field :description
-#  %p
-#    =form.label :url, 'URL'
-#    =form.text_field :url
-#  %p
-#    =form.label :brand, 'Brand'
-#    =form.text_field :name
-#  %p
-#    =form.label :category, 'Category'
-#    =form.text_field :name
-#  %p
-#    =form.label :image_url, 'Image(URL)'
-#    =form.text_field :image_url
-#  %p
-#    =form.label :in_stock, 'In Stock?'
-#    =form.text_field :in_stock
-#  %p
-#    =form.label :items_in_stock, 'Items in Stock'
-#    =form.text_field :items_in_stock
-#  %p
-#    =form.label :shop, 'Shop'
-#    =form.text_field :shop
-#  %p
-#    =form.label :sku, 'SKU'
-#    =form.text_field :sku
-#  %p
-#    =form.label :warranty, 'Warranty'
-#    =form.text_area :warranty, :rows => 10, :cols => 12
-#  %p=form.submit "Submit"